* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(40,36,101);
    background: linear-gradient(90deg, rgba(40,36,101,1) 0%, rgba(103,60,177,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    min-height: 100vh;
}

.header {
    color: lightblue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.header, .type-box, .todo-container {
    min-height: 20vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.input-todo, .submit-button, .category-input {
    padding: 0.5rem;
    margin-bottom: 30px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background: white;
}

.todoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-button {
    color: purple;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background: purple;
    color: white;
    width: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* width: 1 00%; */
    /* flex-wrap: wrap; */
}

.single-category {
    list-style-type: none;
}

.todo-list {
    list-style-type: none;
}

.todo {
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#circle-x {
    display: none;
    padding-right: 5px;
    padding-top: 2px;
}

.todo:hover #circle-x {
    color: #ff6961;
    display: block;
}

.completed {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
}

.completed h2 {
    color: purple;
}

.completed-todo {
    text-decoration: line-through;
    list-style-type: none;
    padding: 10px;
    color: purple;
}

.clearCompleted {
    margin: 0 auto;
    width: 100px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    height: 30px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.clearCompleted:hover {
    background-color: white;
    color: purple;
    border: 1px solid purple;
    transition: all 0.3s ease;
}

